/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */





.mlogo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .mlogo img {
        width: 33%;
        border: 2px solid white;
        border-radius: 50px;
    }


#msearch {
    padding: 5px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 9px;
}

.mbackground {
    background-color: grey;
    background-blend-mode: darken;
    background-size: cover;
}

.mfirstsection {
    height: 100vh;
}

.mbox-main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    max-width: 50%;
    margin: auto;
    height: 80%;
}

.mfirstHalf {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    .mfirstHalf img {
        display: flex;
        border-radius: 9050px;
    }

.mtext-big {
    font-family: "Piazzolla", serif;
    font-weight: bold;
    font-size: 41px;
    text-align: center;
}

.mtext-small {
    font-family: "Sansita Swashed", cursive;
    font-size: 18px;
    text-align: center;
}

#mservice {
    margin: 34px;
    display: flex;
}

    #mservice .mbox {
        padding: 45px;
        margin: 3px 6px;
        border-radius: 28px;
    }

        #mservice .mbox img {
            margin-top: 20px;
            height: 100px;
            margin: auto;
            display: block;
            border-radius: 200px;
        }

        #mservice .mbox p {
            font-family: sans-serif;
            text-align: center;
        }

.mbtn {
    padding: 8px 20px;
    margin: 7px 0;
    border: 2px solid white;
    border-radius: 8px;
    background: none;
    color: white;
    cursor: pointer;
}

.mbtn-sm {
    padding: 6px 10px;
    vertical-align: middle;
}

.mcenter {
    text-align: center;
}

.mtext-footer {
    text-align: center;
    padding: 30px 0;
    font-family: "Ubuntu", sans-serif;
    display: flex;
    justify-content: center;
}
